---
import CardListItem from './CardListItem.astro';

interface Item {
  title: string;
  sub_title: string;
  years: string;
  details?: string;
}

const { title, items, iconName = "mdi:briefcase-outline" } = Astro.props;
---

<section class="h-full rounded-[2rem] border border-default bg-surface p-5 shadow-sm">
  <div>
    <h2 class="mb-6 text-3xl font-black tracking-tight text-default lg:text-4xl">
        {title}
    </h2>

    <ul class="space-y-5">
      {items.map((item: Item) => (
        <CardListItem
          title={item.title}
          sub_title={item.sub_title}
          years={item.years}
          details={item?.details}
          iconName={iconName}
        />
      ))}
    </ul>
  </div>
</section>
