---
import { Image } from 'astro:assets';
import heroImage from '../../assets/ravi.png';
import { basic } from '../../config/cv.json';
---

<section class="py-5 px-4 sm:py-10 lg:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
            <div>
                <p class="text-lg text-offset">
                    {basic?.job}
                </p>

                <h1 class="text-2xl font-bold sm:text-4xl lg:text-5xl mt-3">
                    {basic?.name}
                </h1>

                <p class="mt-5 text-base sm:text-xl">
                    {basic?.summary}
                </p>

                <a 
                    href=`${import.meta.env.BASE_URL}/blogs` 
                    class="inline-block mt-6 px-6 py-3 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700 transition"
                >
                    View My thought Log &rarr;
                </a>
            </div>
            <div class="relative flex justify-center">
                <Image class="w-full md:max-w-md lg:max-w-md"
                    src={heroImage}
                    loading="eager"
                    alt="Ravi Teja Rapolu - Software Engineer" />
            </div>
        </div>
    </div>
</section>
