---
import { Image } from 'astro:assets';
import heroImage from '../../assets/ravi.png';
import { basic } from '../../config/cv.json';
---

<section class="py-5 px-4 sm:py-10 lg:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
            <div>
                <p class="text-lg text-offset">
                    {basic?.job}
                </p>

                <h1 class="text-2xl font-bold sm:text-4xl lg:text-5xl mt-3">
                    {basic?.name}
                </h1>

                <p class="mt-5 text-base sm:text-xl">
                    {basic?.summary}
                </p>

                <a 
                    href=`${import.meta.env.BASE_URL}/blogs` 
                    class="inline-block mt-6 px-6 py-3 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700 transition"
                >
                    View My Thought Log 
                    <span class="ml-2" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 17a4 4 0 01-4-4V7a4 4 0 014-4h10a4 4 0 014 4v6a4 4 0 01-4 4H7zm0 0v2a2 2 0 002 2h6a2 2 0 002-2v-2" />
                        </svg>
                    </span>
                </a>
            </div>
            <div class="relative flex justify-center">
                <Image class="w-full md:max-w-md lg:max-w-md"
                    src={heroImage}
                    loading="eager"
                    alt="Ravi Teja Rapolu - Software Engineer" />
            </div>
        </div>
    </div>
</section>
