---
import { Image } from "astro:assets";
import heroImage from "../../assets/ravi.png";
import { basic, socialLinks } from "../../config/cv.json";
import { Icon } from "astro-icon/components";
---

<section class="py-5 px-4 sm:py-10 lg:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
            <div>
                <p class="text-lg text-offset">
                    {basic?.job}
                </p>

                <h1 class="text-2xl font-bold sm:text-4xl lg:text-5xl mt-3">
                    {basic?.name}
                </h1>

                <p class="mt-5 text-base sm:text-xl">
                    {basic?.summary}
                </p>

                <a
                    href={`${import.meta.env.BASE_URL}/blogs`}
                    class="flex items-center justify-between w-fit mt-6 px-6 py-3 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700 transition"
                >
                    View My Thought Log
                    <Icon name="mdi:thought-bubble-outline" class="h-10 w-10 ml-2" />
                </a>
                <div class="mt-8 flex space-x-4">
                    {
                        socialLinks.map((link) => (
                            <a
                                href={link.link}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="p-3 border border-transparent hover:bg-blue-600/30 rounded-lg transition dark:hover:bg-blue-500/30"
                            >
                                <Icon
                                    name={link.iconName}
                                    class="h-10 w-10 text-offset dark:text-white"
                                />
                                <span class="sr-only">{link.label}</span>
                            </a>
                        ))
                    }
                </div>
            </div>
            <div class="relative flex justify-center">
                <Image
                    class="w-full md:max-w-md lg:max-w-md"
                    src={heroImage}
                    loading="eager"
                    alt="Ravi Teja Rapolu - Software Engineer"
                />
            </div>
        </div>
    </div>
</section>
