---
const { title, type, link, description, techStack = [], years } = Astro.props;
---

<div class="p-5 bg-background-offset shadow-sm rounded-xl border border-default hover:shadow-lg dark:hover:shadow-blue-500 transition-all">
    <a href={link} target="_blank" rel="noopener noreferrer">
        <div class="flex flex-col sm:flex-row justify-between items-start">
            <div class="mb-4 sm:mb-0">
                <h3 class="text-2xl font-semibold">{title}</h3>
                <p class="text-lg font-medium text-secondary pt-2">{type}</p>
            </div>
            {years && <p class="text-sm text-offset sm:text-right whitespace-nowrap">{years}</p>}
        </div>
        {description && <p class="mt-4 text-offset leading-relaxed">{description}</p>}
        {techStack.length > 0 && (
            <div class="mt-3 flex flex-wrap gap-2">
            {techStack.map(tech => (
                <span class="px-2 py-1 text-xs  dark:bg-primary/30 text-white dark:text-blue-500 font-medium border-red-500 rounded">{tech}</span>
            ))}
            </div>
        )}
    </a>
</div>
